.content_list {
    list-style: none;
    margin: 0; // there should be no spacing between this list and a preceeding filter_box

    h3 {
        font-size: 16px;
    }
    .tile.text.history h3 {
        color: $black;
    }

    .level-1 {
        padding-left: 1.5em;
    }
    .level-2 {
        padding-left: 3em;
    }
    .level-3 {
        padding-left: 4em;
    }
    .level-4 {
        padding-left: 5.5em;
    }
    .level-5 {
        padding-left: 7em;
    }

    .logo {
        float: left;
        margin: 0 10px 10px 0;

        + div {
            overflow: hidden;
        }
    }

    > li {
        padding: 1em 0;
        @include clearfix();
    }
    #col1 & > li {
        @include background-image(linear-gradient(170deg, #fff 40%, $bg1 90%));

        border-bottom: 1px dotted $border;
        &:first-child {
            border-top: 1px dotted $border;
        }

        // nested content_list
        .content_list {
            margin-bottom: -1em;
            clear: both;

            li:last-child {
                border-bottom: none;
            }
        }
    }
    #col3 & > li {
        border-bottom: 1px dotted $border;

        &:last-child {
            border-bottom: none;
        }
    }
}

/* force markdown created text to be small */
.event_text * {
    margin: 0 !important;
    padding: 0 !important;
    font-size: small !important;
    background: none !important;
    font-variant: none !important;
}

a.view_all {
    float: right;
    margin-top: -1.5em;
}

.content_box .more {
    float: right;
    padding-top: 1em;
}
