section.subpage {
    $border-width: 340px;

    margin: 0;
    margin-top: 1px;

    > .body {
        border-right: 3px solid $bg2;
        border-left: 1px solid transparent;
        @include transition(border-color .3s);

        position: relative;
        padding: 0 1em;
        margin: 1em 0;
        margin-right: $border-width;

        min-height: 7em;

        &:hover {
            > h1, > aside {
                opacity: 1;
            }
            border-right-color: $primary-color;
            border-left-color: $bg2;
        }

        h1, aside {
            opacity: 0.3;
            @include transition(opacity .5s);
        }

        h1 {
            display: none;
        }

        aside {
            position: absolute;
            height: 100%;
            width: $border-width;
            top: 0;
            right: -$border-width;
            padding: 1em 1em 1em 2em;
            @include box-sizing(border-box);

            .utility {
                position: absolute;
                bottom: 0;
            }

            .flags {
                list-style: none;
                padding: 0;
                margin: 0;

                text-align: left;

                li {
                    margin-bottom: 0.3em;
                }

                a {
                    $height: 17px;
                    $arrow-length: 8px;

                    background-color: $primary-color;
                    color: #fff;
                    padding: 0 0.5em;

                    display: inline-block;
                    position: relative;
                    line-height: $height;

                    &:after {
                        content: "";
                        position: absolute;
                        top: ($height - $arrow-length)/2;
                        left: -$arrow-length;
                        display: block;
                        height: 0;
                        width: 0;
                        border-right: $arrow-length solid $primary-color;
                        border-top: $arrow-length/2 solid transparent;
                        border-bottom: $arrow-length/2 solid transparent;
                        border-left: none;
                    }

                    &:hover {
                        background-color: darken($primary-color, 7%);
                        text-decoration: none;

                        &:after {
                            border-right-color: darken($primary-color, 7%);
                        }
                    }
                }
            }
        }
    }
}
