<%inherit file="/template.html" />
<%namespace name="tiles_html" file="/proposal/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%namespace name="forms" file="/forms.html"/>
<%def name="title()">${_("Edit %s") % c.proposal.title}</%def>

<%def name="breadcrumbs()">
    ${h.proposal.breadcrumbs(c.proposal)|n} &raquo; ${_("Edit")}
</%def>

<%block name="main_content">
<div class="form_wrapper">
    <h2>${_(u'Edit &ldquo;%s&rdquo;') % c.proposal.title|n}</h2>
    <hr />

    <form name="edit_proposal" class="inplace" method="POST" action="${h.entity_url(c.proposal)}">
        ${h.field_token()|n}
        <input type="hidden" name="_method" value="PUT" />

        <fieldset>
            <legend>${_("Amendment title") if c.proposal.is_amendment else _("Proposal title")}</legend>
            <div class="input_wrapper">
                <input type="text" class="title" name="label" autofocus value="${c.proposal.title}"
                       placeholder="${_("New amendment") if c.proposal.is_amendment else _("New proposal")}" />
            </div>
        </fieldset>

        <fieldset>
            <legend>${_("Reasoning") if c.proposal.is_amendment else _("Proposal goals")}</legend>
            <p class="info">
                %if c.proposal.is_amendment:
                ${_("Give a brief explanation of the idea behind your amendment.")}
                %else:
                ${_("Give a brief description of <b>the goals</b> of your proposal.")|n}
                %endif
            </p>
            <div class="input_wrapper">
                <textarea class="description" name="text"
                          placeholder="${_('The amendment would...') if c.proposal.is_amendment else _('The proposal would...')}">${c.proposal.description.head.text}</textarea>
                ${components.formatting()}
            </div>
        </fieldset>

        %if not c.proposal.is_amendment:
        %if c.instance.milestones:
        <fieldset>
            <legend>${_("Relates to a milestone")}</legend>
            ${tiles.milestone.select(c.proposal.milestone)}
        </fieldset>
        %endif

        %if c.categories:
        ${components.category_select('category_select', c.toplevel_question, c.categories)}
        %endif
        %endif

        <fieldset>
            <legend>${_('Collaboration and Notification')}</legend>
            %if c.can_edit_wiki:
            <div class="input_wrapper">
                <label for="wiki">
                    <input type="checkbox" ${'checked="checked"' if c.proposal.description.head.wiki == 1 else ''} name="wiki" id="wiki" value="1" />
                    ${_("Allow modifications by other users")}
                </label>
            </div>
            %endif

            %if h.has_permission('proposal.freeze'):
            ${forms.checkbox(_(u"Freeze proposal"), 'frozen')}
            %endif

            <div class="input_wrapper">
                ${components.form_watch(c.proposal)}
            </div>
        </fieldset>

        <div class="input_wrapper submit">
            ${components.savebox(h.entity_url(c.proposal))}
        </div>
    </form>
</div>
</%block>
