@charset "UTF-8";
/**
    * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
    *
    * (en) YAML core stylesheet
    * (de) YAML Basis-Stylesheet
    *
    * Don't make any changes in this file!
    * Your changes should be placed in any css-file in your own stylesheet folder.
    *
    * @copyright       Copyright 2005-2010, Dirk Jesse
    * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
    *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
    * @link            http://www.yaml.de
    * @package         yaml
    * @version         3.2.1
    * @revision        $Revision: 454 $
    * @lastmodified    $Date: 2010-01-01 17:31:10 +0100 (Fr, 01. Jan 2010) $
    */

@media all
{
    /**
    * @section browser reset
    * @see     http://www.yaml.de/en/documentation/css-components/base-stylesheet.html
    */

    /* (en) Global reset of paddings and margins for all HTML elements */
    /* (de) Globales Zurücksetzen der Innen- und Außenabstände für alle HTML-Elemente */
    * { margin:0; padding:0; }

    /* (en) Correction:margin/padding reset caused too small select boxes. */
    /* (de) Korrektur:Das Zurücksetzen der Abstände verursacht zu kleine Selectboxen. */
    option { padding-left:0.4em; } /* LTR */
    select { padding:1px; }

    /**
    * (en) Global fix of the Italics bugs in IE 5.x and IE 6
    * (de) Globale Korrektur des Italics Bugs des IE 5.x und IE 6
    *
    * @bugfix
    * @affected   IE 5.x/Win, IE6
    * @css-for    IE 5.x/Win, IE6
    * @valid      yes
    */
    * html body * { overflow:visible; }
    * html iframe, * html frame { overflow:auto; }
    * html frameset { overflow:hidden; }

    body {
    /* (en) Fix for rounding errors when scaling font sizes in older versions of Opera browser */
    /* (de) Beseitigung von Rundungsfehler beim Skalieren von Schriftgrößen in älteren Opera Versionen */
    font-size:100.01%;

    /* (en) Standard values for colors and text alignment */
    /* (de) Vorgabe der Standardfarben und Textausrichtung */
    color:#000;
    text-align:left; /* LTR */
    }

    /* (en) avoid visible outlines on DIV containers in Webkit browsers */
    /* (de) Vermeidung sichtbarer Outline-Rahmen in Webkit-Browsern */
    div { outline:0 none; }

    /* (en) Clear borders for <fieldset> and <img> elements */
    /* (de) Rahmen für <fieldset> und <img> Elemente löschen */
    fieldset, img { border:0 solid; }

    /* (en) new standard values for lists, blockquote and cite */
    /* (de) Neue Standardwerte für Listen & Zitate */
    ul, ol, dl { margin:0 0 1em 1em; } /* LTR */
    li {
    line-height:1.5em;
    margin-left:0.8em; /* LTR */
    }

    dt { font-weight:bold; }
    dd { margin:0 0 1em 0.8em; } /* LTR */

    blockquote { margin:0 0 1em 0.8em; } /* LTR */

    blockquote:before, blockquote:after,
    q:before, q:after { content:""; }

    /*------------------------------------------------------------------------------------------------------*/

    /**
    * @section clearing methods
    * @see     http://yaml.de/en/documentation/basics/general.html
    */

    /* (en) clearfix method for clearing floats */
    /* (de) Clearfix-Methode zum Clearen der Float-Umgebungen */
    .clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
    }

    /* (en) essential for Safari browser !! */
    /* (de) Diese Angabe benötigt der Safari-Browser zwingend !! */
    .clearfix { display:block; }

    /* (en) alternative solution to contain floats */
    /* (de) Alternative Methode zum Einschließen von Float-Umgebungen */
    .floatbox { overflow:hidden; }

    /* (en) IE-Clearing:Only used in Internet Explorer, switched on in iehacks.css */
    /* (de) IE-Clearing:Benötigt nur der Internet Explorer und über iehacks.css zugeschaltet */
    #ie_clearing { display:none; }

    .page_wrapper {
        @include pie-clearfix();
    }

    /*------------------------------------------------------------------------------------------------------*/

    /**
    * @section hidden elements | Versteckte Elemente
    * @see     http://www.yaml.de/en/documentation/basics/skip-links.html
    *
    * (en) skip links and hidden content
    * (de) Skip-Links und versteckte Inhalte
    */

    /* (en) classes for invisible elements in the base layout */
    /* (de) Klassen für unsichtbare Elemente im Basislayout */
    .skip, .hideme, .print {
    position:absolute;
    top:-32768px;
    left:-32768px; /* LTR */
    }

    /* (en) make skip links visible when using tab navigation */
    /* (de) Skip-Links für Tab-Navigation sichtbar schalten */
    .skip:focus, .skip:active {
    position:static;
    top:0;
    left:0;
    }

    /* skiplinks:technical setup */
    #skiplinks {
    position:absolute;
    top:0px;
    left:-32768px;
    z-index:1000;
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
    }

    #skiplinks a.skip:focus,
    #skiplinks a.skip:active {
    left:32768px;
    outline:0 none;
    position:absolute;
    width:100%;
    }
}

@media screen, projection
{

    /**
    * @section base layout | Basis Layout
    * @see     http://www.yaml.de/en/documentation/css-components/base-stylesheet.html
    *
    * |-------------------------------|
    * | #header                       |
    * |-------------------------------|
    * | #col1   | #col3     | #col2   |
    * | 200 px  | flexible  | 200px   |
    * |-------------------------------|
    * | #footer                       |
    * |-------------------------------|
    */

    #header { position:relative; }

    /* (en) Text Alignment for #topnav content */
    /* (de) Textausrichtung für #topnav Inhalte */
    #topnav { text-align:right; }  /* LTR */

    /* (en) Absolute positioning only within #header */
    /* (de) Absolute Positionierung erfolgt nur innerhalb von #header */
    #header #topnav {
    position:absolute;
    top:10px;
    right:10px; /* LTR */
    }

    /* (en) Backup for correct positioning */
    /* (de) Absicherung korrekte Positionierung */
    #header, #nav, #main, #footer { clear:both; }

    #col1 { float:left; width:200px; }
    #col2 { float:right; width:200px; }
    #col3 { width:auto; margin:0 200px; }

    /* (en) Preparation for absolute positioning within content columns */
    /* (de) Vorbereitung für absolute Positionierungen innerhalb der Inhaltsspalten */
    #col1_content, #col2_content, #col3_content { position:relative; }

    /*------------------------------------------------------------------------------------------------------*/

    /**
    * @section subtemplates
    * @see     http://www.yaml.de/en/documentation/practice/subtemplates.html
    */
    .subcolumns { width:100%; overflow:hidden; }

    /* (en) alternative class for optional support of old Mozilla/Netscape browers */
    /* (de) Alternative Klasse zur optionalen Unterstützung alter Mozilla/Netscape-Brower */
    .subcolumns_oldgecko { width:100%; float:left; }

    .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float:left; }
    .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float:right; margin-left:-5px; }

    .c20l, .c20r { width:20%; }
    .c40l, .c40r { width:40%; }
    .c60l, .c60r { width:60%; }
    .c80l, .c80r { width:80%; }
    .c25l, .c25r { width:25%; }
    .c33l, .c33r { width:33.333%; }
    .c50l, .c50r { width:50%; }
    .c66l, .c66r { width:66.666%; }
    .c75l, .c75r { width:75%; }
    .c38l, .c38r { width:38.2%; }
    .c62l, .c62r { width:61.8%; }

    .subc  { padding:0 0.5em; }
    .subcl { padding:0 1em 0 0; }
    .subcr { padding:0 0 0 1em; }

    .equalize, .equalize .subcolumns { overflow:visible; display:table; table-layout:fixed; }

    .equalize > div {
    display:table-cell;
    float:none;
    margin:0;
    overflow:hidden;
    vertical-align:top;
    }
}

@media print
{
    /**
    * (en) float clearing for .floatbox and subtemplates. Uses display:table to avoid bugs in FF & IE
    * (de) Float Clearing für .floatbox und die Subtemplates. Verwendet display:table, um Darstellungsprobleme im FF & IE zu vermeiden
    *
    * @bugfix
    * @since     3.0
    * @affected  FF2.0, FF3.0, IE7
    * @css-for   all browsers
    * @valid     yes
    */

    .subcolumns > div,
    .floatbox {
    overflow:visible;
    display:table;
    }

    /* (en) make .print class visible */
    /* (de) .print-Klasse sichtbar schalten */
    .print {
    position:static;
    left:0;
    }

    /* (en) generic class to hide elements for print */
    /* (de) Allgemeine CSS Klasse, um beliebige Elemente in der Druckausgabe auszublenden */
    .noprint { display:none !important; }
}
/**
    * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
    * (en) stylesheet for screen layout
    * (de) Stylesheet für das Bildschirm-Layout
    *
    * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
    * @file          basemod.css
    * @-yaml-minver  3.3
    */

@media screen, projection
{
    /**
    * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera
    * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera
    *
    * @workaround
    * @affected IE8, FF, Webkit, Opera
    * @css-for all
    * @valid CSS3
    */

    body { overflow-y: scroll; }

    /*-------------------------------------------------------------------------*/

    /* (en) Marginal areas */
    /* (de) Randbereiche */
    body { padding: 0; }

    /* Layout Alignment | Layout-Ausrichtung */
    .page_margins { margin: 0 auto; }

    /* Layout Properties | Layout-Eigenschaften */
    .page_margins { width: 1004px; background: transparent; }
    #header {
        position:relative;
        padding: 0;
        color: #000;
        background-color: $header-color;
        @include background-image(linear-gradient(to bottom, darken($header-color, 2%), lighten($header-color, 2%)));
    }
    #topnav { text-align: right; color: #fff; background: transparent; }
    #main { margin: 10px 0 60px; }
    #footer {
        padding: 0px;
        background-color: $bg1;
        @include background-image(linear-gradient(top, $bg1, $bg2));
    }


    /*-------------------------------------------------------------------------*/

    /**
    * (en) Formatting content container
    * (de) Formatierung der Inhalts-Container
    *
    */

    #col1 { float: left; width: 665px}
    #col2 { display:none}
    #col3 { width: auto; margin: 0 0 0 665px}
    #col1_content { padding: 0 10px 0 23px }
    #col3_content { margin: 0 23px 0 31px }

    #settings #col1 { float: right; width: 800px}
    #settings #col2 { display:none}
    #settings #col3 { width: auto; margin: 0 800px 0 0 }
    #settings #col1_content { padding: 0 15px 0 10px }
    #settings #col3_content { margin: 0 15px 0 23px }

    #settings #col3 .affix { width: 164px; top: 20px; }

    .subcl { padding: 0 20px 0 0; }
    .subc { padding: 0 10px; }
    .subcr { padding: 0 0 0 20px; }

    /*-------------------------------------------------------------------------*/
}
@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) print stylesheet
 * (de) Druck-Stylesheet
 *
 * @copyright       Copyright 2005-2010, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.2.1
 * @revision        $Revision:302 $
 * @lastmodified    $Date:2008-12-14 11:23:55 +0100 (So, 14. Dez 2008) $
 */


@media print
{
 /**
  * @section basic layout preparation
  * @see     http://www.yaml.de/en/documentation/css-components/layout-for-print-media.html
  */

  /* (en) change font size unit to [pt] - avoiding problems with [px] unit in Gecko based browsers  */
  /* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit Maßeinheit [px] in Gecko-basierten Browsern vermeiden */
  body { font-size:10pt; }

  /* (en) Hide unneeded container of the screenlayout in print layout */
  /* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
  #topnav, #nav, #search { display:none; }

  /*------------------------------------------------------------------------------------------------------*/

  /* (en) Avoid page breaks right after headings */
  /* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
  h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }

  /*------------------------------------------------------------------------------------------------------*/

  /* (en) optional output of acronyms and abbreviations*/
  /* (de) optionale Ausgabe von Auszeichnung von Abkürzungen */

  /*
    abbr[title]:after, 
    acronym[title]:after { content:'(' attr(title) ')'; }
  */

  /*------------------------------------------------------------------------------------------------------*/

  /* (en) optional URL output of hyperlinks in print layout */
  /* (de) optionale Ausgabe der URLs von Hyperlinks */
  /*
  a[href]:after {
    content:" <URL:"attr(href)">";
    color:#444;
    background:inherit;
    font-style:italic;
  }
  */

}
