/* This file contains all the rules which do not fit anywhere else. */

a.icon_link {
    background-image: url('/images/sprite.png');
}

#register_input_css {
    margin-left: 3000px;
    position: absolute;
    display: none;
}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.staticpages_index tr>td>a {display: block; width: 100%; height: 100%;}

.plus:before {
    font-weight: bold;
    content: "+ ";
}

/* images - make wordpress styles work */
.alignleft {
    float: left;
    margin-right: 14px;
}
.alignright {
    float: right;
    margin-left: 14px;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption-text,
.wp-caption-dd {
    font-size: 9px;
    line-height: 17px;
    padding: 0 4px 5px;
    text-align: left;
}

.register {
    line-height: 27px;
    font-size:13px;

    a.link_more_info,
    a.link_more_info:hover {
        color: $primary-color;
    }
}

/* class helper */
.hlist ul {
    list-style: none;
    display: inline;
}
.hlist li {
    display: inline-block;
}

.countdown { font-size: 11px; }

.over { font-size: 11px; color: darkred; }

section { margin-bottom: 40px; }

.full_teaser {
    padding: 0 23px;
}

.full_teaser h1 {
    margin-left: 0;
    margin-right: 0;
}

/*
Added during template integration
*/

.inline_input_wrapper {
    float: left;
    margin: 10px 0;
}

.input_wrapper .right {
    float: right;
}

/* Stats on the front page */
#stats {
    font-size: 20px;
    text-align: center;
    border-top: 1px dotted $border;
    padding-top: 14px;
}

.sp-replacer {
    margin-bottom: 0.5em;
}

#add_tags {
    padding-bottom: 10px;
}

/* Fixes for js.socialshareprivace */

#socialshareprivacy form {
    padding: 0;
}

iframe {
    border: none;
}

.staticpage_edit {float: right;}
