<%inherit file="/instance/settings.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Manage: %s") % c.page_instance.label}</%def>

<%def name="breadcrumbs()">
    ${h.instance.breadcrumbs(c.page_instance)|n} ${_("Manage")}
</%def>

<%block name="settings_content">
<form name="create_instance" class="well" method="POST"
      enctype="multipart/form-data">
    
    ${components.flashmessages()}

    <h2>${c.settings_menu.current['label']}</h2>

    <input type="hidden" name="_method" value="PUT" />

    ${h.field_token()|n}
    
    ${forms.checkbox(_("Use Norms"), 'use_norms', '1')}
    <div style="padding-left: 2em;">
    ${forms.checkbox(_("Allow users to propose norms"), 'allow_propose', '5')}
    ${forms.checkbox(_("Allow users to change norms from within proposals"), 'allow_propose_changes', '5')}
    ${forms.checkbox(_("Require to propose a variant"), 'require_selection', '10')}
    ${forms.checkbox(_("Show norms navigation item"), 'show_norms_navigation', '12')}
    </div>

    ${forms.checkbox(_("Use milestones"), 'milestones', 15)}
    ${forms.checkbox(_("Use thumbnail badges"), 'allow_thumbnailbadges', 16)}
    ${forms.checkbox(_("Hide global categories"), 'hide_global_categories', 17)}
    ${forms.checkbox(_("Allow editing of comments by default"), 'editable_comments_default', 18)}
    ${forms.checkbox(_("Freeze this instance"), 'frozen', 20)}
    ${components.savebox(h.base_url("/instance/%s" % c.page_instance.key))}

</form> 
</%block>
