.abadge {
    font-family: Arial,san-serif;
    font-size: 10px;
    line-height: 14px;
    height: 13px;
    padding: 1px 15px 0px 3px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-transform: uppercase;
    border-left: 1px solid #e3e3e3;
    color: $fg1;
    position: relative;
    background: url('/images/badge_bg.png') right top no-repeat;

    &:before {
        content: '\25E4';
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        right: -1px;
        bottom: -1px;
        font-size: 14px;
        line-height: 10px;
        color: #bdbdbd;
    }

    &:hover {
        color: $black;
    }
    &.admin:before {
        color: #f98c8c
    }
    &.author:before {
        color: #ebd973
    }
    &.user:before {
        color: #a8d37e
    }

    a:hover {
        text-decoration: none;
    }
}

#badge-preview {
    padding: 0 1em;
    margin-left: 1em;
    border-left: 1px dotted $border;
    height: 28px;
}

.thumbnailbadges {
    float: left;
    margin-top: 8px;

    img {
        margin-right: 5px
    }
    + div {
        overflow: hidden;
    }
}
