a.button {
    @include button($button-color);

    &.highlight {
        @include button-background($primary-color);
    }
    .register & {
        @include button-background($register-color);
        color: #fff;
        line-height: 27px;
        float: left;
        margin-right: 15px;
        padding-right: 30px;
        min-width: 140px;
        position: relative;

        &:after {
            background: url('/images/sprite.png') no-repeat 0 -13*50px;
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            display: inline-block;
            right: 10px;
            top: 50%;
            margin-top: -10px;
        }
    }
}

.submit input, .submit button, button[type="submit"] {
    @include button($primary-color);
    font-size: 13px;
    margin-right: 0.7em;

    // these are replaced elements and therefore
    // `line-height` does not apply in some browsers
    line-height: 1;
    padding-top: 7px;
    padding-bottom: 7px;
}

a.button_small {
    color: #fff;
    @include button-small($button-color, $primary-color);
}

a.participate {
    @include button-small($primary-color, $primary-color);
    color: white;
}

a.button_round {
    @include button-round;
    font-weight: normal;
}

/* follow button */
a.follow_paper {
    @include button-round;

    // icon
    &:before {
        content: "✚";
        margin-right: 10px;
        color: #fff;
        background-color: $button-color;
        @include background-image(linear-gradient(170deg, lighten($button-color, 14%), $button-color));

        // circle
        display: inline-block;
        text-align: center;
        height: 16px;
        width: 16px;
        line-height: 16px;
        @include border-radius(50%);
    }
    &:hover:before {
        background-color: $green;
        @include background-image(linear-gradient(170deg, lighten($green, 14%), $green));
    }
    &.active:before {
        content: "✔";
        background-color: $green;
        @include background-image(linear-gradient(170deg, lighten($green, 14%), $green));
    }
    &.active:hover:before {
        content: "×";
        background-color: $red;
        @include background-image(linear-gradient(170deg, lighten($red, 14%), $red));
    }
}

/* delegate button */
a.button.delegate {
    @include button-round;
}

.list_button,
.top_actions,
.admin_controls {
    margin: 1em 0;
}

.showhide_button {
    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        vertical-align: middle;
        margin-left: 0.2em;
    }
    &.less:after {
        border-top: 0;
        border-bottom: 4px solid;
    }
}
