.form_wrapper {
    background: url("/images/shadow_image_large.jpg") no-repeat scroll center bottom transparent;
    padding-bottom: 18px;

    .overlay & {
        background: none;
        padding-bottom: 0;
    }
}

.form_wrapper form, #searchbox form {
    margin: 0px;
}

form {
    background-color: $bg1;
    @include background-image(linear-gradient(left, $bg1, lighten($bg1, 2%), $bg1));
    padding: 30px;
    overflow: hidden;  // clearfix
}

form.list_filter {
    background: none;
}

form.list_filter label {
    font-size: 16px;
}

form .savebox {
    padding-top: 0.5em;
}

#openid_form {
    width: auto !important; /*do not know why there was a fixed value here [joka] */
}
form div.prototype {
    display: none;
}


form p.info {
    margin-bottom: 10px;
    color: $fg1;
}

.input_wrapper {
    width: 100%;
    margin-bottom: 10px;
    clear: both;

    &.submit {
        font-size: 11px;
        line-height: 24px;
    }
}

textarea {
    width: 100%;
    min-height: 128px;
}

input[type=checkbox], input[type=radio] {
    vertical-align: text-top;
    margin-top: 1px;
}

.checkbox_inline label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.checkbox_inline input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

form .error-message {
    color: darkred;
}
form .error {
    border-color: darkred;
}

/* searchform */
#searchbox,
.list_filter {
    overflow: hidden;
    padding-top: 19px;
    padding-right: 20px;
}
#searchbox {
    float: right;
}
.list_filter {
    display: block;
}

#subheader.logo #searchbox {
    padding-top: 29px;
}

.list_filter {
    padding: 5px 20px 16px 20px;
}

#searchform,
.list_form {
    float: right;
    padding: 0;
    background: none;
    margin-bottom: 0;
}

.list_form label {
    display: inline;
}

#searchform #s,
.list_form input.q {
    width: 225px;
    padding: 0px 4px;
    height: 24px;
    font-size: 13px;
    vertical-align: top;
}

.list_form input.q {
    width: 350px;
}

#searchform #searchsubmit,
.list_form input.go {
    background-color: $button-color;
    @include background-image(linear-gradient(170deg, lighten($button-color, 14%), $button-color));
    padding: 0px 10px 2px;
    height: 26px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 13px;
}

form#user_welcome {
    margin: 0;
    padding: 0;

    > label {
        margin: 0;
        padding: 5px 0;
        text-align: center;
        font-size: 22px;
        line-height: normal;

        > * {
            vertical-align: top;
            font-size: inherit;
            height: auto;
            line-height: normal;
        }
        > span {
            display: inline-block;
            padding-top: 3px;
        }
        > input[type="password"] {
            padding: 2px 5px;
            margin: 0;
            width: 5em;
        }
        > input[type="submit"] {
            padding: 2px 5px;
        }
    }
}

.login_form input[type="text"],
.login_form input[type="email"],
.login_form input[type="password"] {
    display: block;
    width: 206px;
}
.login_form input[type="password"] {
    margin-bottom: 0;
}

form.password-reset input[type="submit"] {
  padding: 5px 10px;
}

form.inline-form {
  background: inherit;
  padding: 0;
  display: inline-block;
}

.login_form.login-alternate input[type="email"],
.login_form.login-alternate input[type="text"] {
  display: inline;
}
.login_form.login-alternate label {
  margin-left: 20px;
  margin-top: 10px;
}
.login_form.login-alternate label>span {
  vertical-align: text-top;
}
.login_form.login-alternate input[type="password"] {
  display: block; margin-bottom: 10px; margin-left: 40px;
}

#tags_form form {
    background: none;
    padding: 0;
}
