#flash_message {
    background: $flash;

    .message, .confirm, .error {
        padding: 20px 23px;
        display: block;
        overflow: hidden;

        p {
            margin-bottom: 0;
        }
    }
    .message .register {
        float: right;
    }

    p.register_msg {
        line-height: 2;
    }
    .attention-frozen {
        text-align: center;
        font-size: 140%;
        padding: 5px 0;
    }
}

.info_box, .alert {
    position: relative;
    padding: 20px;
    margin: 20px 0;
    @include border-radius(10px);
    border: 1px solid $border;
    background: $flash;
    font-style: italic;
}
.alert-success {
    // original green looked ugly, so I tinkered with this one
    background: hsl(hue($green), saturation($flash)*0.9, lightness($flash)*0.95);
}

.alert-danger,
.alert-warning,
.alert-error {
    background: hsl(hue($red), saturation($flash), lightness($flash));
}

#welcome_message .info_box, .alert {
    margin-left: 23px;
    margin-right: 23px;
}

// overlay
div.overlay {
    /* must be initially hidden */
    display: none;

    /* jquery for some reason sets overflow: hidden on animation */
    overflow: visible !important;

    /* needed for close button */
    position: relative;

    /* place overlay on top of other elements */
    z-index: 10000;

    /* may be overwritten by javascript */
    width: 500px;

    /* styling */
    padding: 20px;
    @include border-radius(10px);
    border: 1px solid $border;
    background-color: #fff;
    @include box-shadow(0 0 10px 5px $fg1);

    .contentWrap, iframe {
        width: 100%;
        height: 100%;
    }
}

#overlay-big.overlay {
    width: 1000px;
    background-color: #fff;
}

html.overlay {
    background: none;

    header, #subheader, footer, #feedback, .ie-message,
    #user_welcome, #welcome_message, #flash_message {
        display: none;
    }
    #main, .page_margins, .page_wrapper {
        margin: 0;
    }
    body {
        overflow: hidden;
    }

    &.overlay-small {
        .page_margins {
            width: auto;
        }
        #col3 {
            display: none;
        }
        .full_teaser, #col1_content {
            padding: 0;
        }
    }
}

// close button
.info_box .close_button, .overlay a.close, .alert a.close {
    display: none;
    html.js & {
        display: block;
    }

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    font-style: normal;
    overflow: hidden;

    color: #fff;
    position: absolute;
    top: -19px;
    right: -19px;
    width: 33px;
    height: 33px;
    display: block;
    z-index: 1;
    @include border-radius(50%);
    border: 2px solid #fff;
    @include box-shadow(#aaa 0 0 4px 1px);
    cursor: pointer;
    opacity: 1.0;

    background-color: $primary-color;
    @include background-image(linear-gradient(170deg, lighten($primary-color, 14%), $primary-color));
    &:hover {
        background-color: darken($primary-color, 7%);
        @include background-image(linear-gradient(170deg, lighten($primary-color, 7%), darken($primary-color, 7%)));
        text-decoration: none;
    }

    &:after {
        display: block;
        position: absolute;
        top: 0;
        text-indent: 0;
        width: 33px;
        line-height: 33px;
        font-size: 17px;
        text-align: center;
        content: "×";
    }
}
