body {
    color: $black;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, legend {
    color: $primary-color;
    font-family: 'ColaborateRegular', Arial, sans-serif;
    line-height: 1.2;
    text-transform: none;
    margin: 10px 0;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1 { font-size: 34px; margin: 27px 0; font-weight: normal; }
h2 { font-size: 30px; margin-bottom: 10px; font-weight: normal; }
h3 { font-size: 25px; margin-bottom: 10px; font-weight: normal; }
h4, legend { font-size: 20px; margin-bottom: 10px; font-weight: normal; }
h5 { font-size: 16px; margin-bottom: 5px; font-weight: normal; }
h6 { font-size: 14px; font-weight: normal; color: $fg1; }

p {
    margin-bottom: 20px;
    word-wrap: break-word;

    &:last-child {
        margin-bottom: 0;
    }
}

ul, ol, dl {
    margin: 0 0 20px 20px;
}
li {
    line-height: 1.5;
    margin-left: 0;
}

hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px dotted $border;
}

/* table */
table {
    margin-bottom: 20px;

    td, th {
        padding: 0.5em;
    }
    td {
        border-top: 1px solid $border;
    }

    &.line_based {
        td {
            border: none;
            padding: initial;

            &.line_number {
                width: 20px;
                padding-right: 10px;
                text-align: right;
                color: $fg1;
                line-height: 1.5em;
            }
            &.line_text {
                color: $black;
                font-family: Menlo, Monaco, 'Courier New', monospace;
            }
        }
    }
}

/* links */
a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
        text-decoration: underline;
    }

    &.icon_link {
        height: 18px;
        line-height: 18px;
        background-repeat: no-repeat;
    }
    &.follow {
        background-position: right -254px;
        padding-right: 23px;
        &:hover {
            background-position: right -304px;
            text-decoration: underline !important;
        }
    }
}

// blockqoute
blockquote {
    position: relative;
    font-style: italic;
    border-left: 0.4em solid $primary-color;
    padding-left: 0.5em;
    margin: 1.5em;
    cite {
        float: right;
    }
}

// code
code {
    font-size: 0.9em;
    background-color: $bg2;
}
pre {
    margin: 1em 0;
    display: block;
    padding: 0.7em;
    font-size: 0.9em;
    background-color: $bg2;
    border: 1px solid $border;
    max-height: 18em;
    overflow: auto;

    code {
        background-color: transparent;
    }
}

.pro, .con { font-size: 14px; }
.pro, ins { color: $green; }
.con, del, .countdown.highlight { color: $red; }

.meta, .utility {
    color: $fg1;
    font-size: 11px;
}
h1, h2, h3, h4, h5, h6 {
    .utility {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0px;
    }
}
