<%inherit file="/template.html" />
<%namespace name="components" file="/components.html"/>

<%def name="title()">${_("Variant: %s") % c.text.title}</%def>

<%def name="breadcrumbs()">${h.text.breadcrumbs(c.text)|n} &raquo; ${_("Edit variant")}</%def>


<%block name="main_content">
<form name="edit_page" class="inplace" method="POST" action="${h.entity_url(c.page)}">

    <h2>${_(u"Edit section") if c.section else _(u"Norm: %s") % c.page.title}</h2>
    ${h.field_token()|n}
    <input type="hidden" name="parent_text" value="${c.text.id}" />
    <input type="hidden" name="branch" value="${c.branch}" />

    %if c.text.is_head and not c.branch:
    <input type="hidden" name="variant" value="${c.variant}"/>
    %else:
    <label for="variant">${_("Variant Name")}</label>
    <input type="text" name="variant" value="${c.variant}" ${'readonly=readonly' if not c.branch else ''} />
    %endif

    %if c.text.is_head and h.has_permission('instance.admin') and not c.section:
    <label for="title">${_("Title")}</label>
    <input type="text" name="title" value="${c.text.title}"/>
    %else:
    <input type="hidden" name="title" value="${c.text.title}"/>
    %endif

    %if c.proposal:
        <input type="hidden" value="${c.proposal}" name="proposal" />
    %endif

    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" name="ret_url" value="${c.ret_url}" />

    <label for="text">${_("Text")}</label>
    <textarea tabindex="2" rows="${c.text_rows}"
              cols="${model.Text.LINE_LENGTH}"
              name="text">${c.text.text if c.text.text is not None else ''}</textarea>
    %if c.page.formatting:
    ${components.formatting()}
    %endif


    %if can.page.manage(c.page):
    <fieldset>
        %if not c.section:
        <div class="input_wrapper">
            <label>
                <input name="sectionpage" type="checkbox" ${'checked="checked"' if c.page.sectionpage else '' | n} value="1" />
                ${_('Display subnorms as sections')}
            </label>
        </div>
        %endif
        <div class="input_wrapper">
            <label>
                <input name="allow_comment" type="checkbox" ${'checked="checked"' if c.page.allow_comment else '' | n} value="1" />
                ${_('Allow Comments')}
            </label>
        </div>
        <div class="input_wrapper">
            <label>
                <input name="allow_selection" type="checkbox" ${'checked="checked"' if c.page.allow_selection else '' | n} value="1" />
                ${_('Allow Amendments')}
            </label>
        </div>
        <%doc>
        # uncomment this when it is actually used
        <div class="input_wrapper">
            <label>
                <input name="always_show_original" type="checkbox" ${'checked="checked"' if c.page.always_show_original else '' | n} value="1" />
                ${_('Always show original variant')}
            </label>
        </div>
        </%doc>
        <div class="input_wrapper">
            <label>
                <input name="formatting" type="checkbox" ${'checked="checked"' if c.page.formatting else '' | n} value="1" />
                ${_("Use markdown formatting.")}
            </label>
        </div>
    </fieldset>

    %if not c.section:
    <fieldset>
        <legend>${_("Category")}</legend>
        <div class="input_wrapper">
            <select name="category">
                <option value="">${_("No Category")}</option>
                %for category in c.categories:
                <option value="${category.id}" ${'selected="selected"' if category==c.category else '' | n}>${category.title}</option>
                %endfor
            </select>
        </div>
    </fieldset>
    %endif

    %if not c.section:
    <label for="parent">${_("Parent page:")}</label>
    ${tiles.page.select_page(field_name="parent_page", select=c.page.parent, functions=model.Page.PARENT_FUNCTIONS)}
    %endif

    %endif

    %if c.instance.milestones and can.page.manage(c.page) and not c.section:
    <label for="milestone">${_("Relates to a milestone")}</label>
    ${tiles.milestone.select(c.page.milestone)}
    %endif

    ${components.savebox(c.ret_url)}
    ${components.form_watch(c.page)}

</form>
</%block>
